.recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: whitesmoke;
}
.recherche__localisation {
  background-color: #e8e8e8;
  display: block;
  padding: 0%;
  margin: 0%;
  text-align: center;
  min-height: 50px;
  width: 100%;
}
.recherche__description {
  display: block;
  margin: 0%;
  padding: 30px;
  text-align: center;
  word-break: break-word;
  font-size: 1rem;
  font-weight: lighter;
}
.recherche__description--bold {
  display: block;
  font-weight: bold;
  font-size: 2rem;
}
.recherche .btn {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  border-radius: 25px 25px 25px 25px;
  height: 50px;
  box-shadow: 0px 5px 10px #c5c4c4;
  text-align: center;
  width: 60%;
  margin-bottom: 50px;
}
.recherche .btn--cliquable {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  color: white;
  padding: auto;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: white;
}
.fonctionnement__Titre {
  margin: 0%;
  width: 100%;
  padding: 30px;
  text-indent: 30px;
  font-size: 2rem;
}
.fonctionnement__guide {
  display: flex;
  justify-content: baseline;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 5px 10px #c5c4c4;
  width: 80%;
  background-color: #fafafa;
}
.fonctionnement__guide__number {
  display: inline-block;
  padding: 0%;
  margin: 0%;
  position: relative;
  left: -40px;
  background-color: #9356DC;
  border-radius: 10px;
  width: 20px;
  text-align: center;
  color: white;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: whitesmoke;
  padding-bottom: 50px;
}
.restaurants__Titre {
  margin: 0%;
  width: 100%;
  padding: 30px;
  text-indent: 30px;
  font-size: 2rem;
  position: static;
}
.restaurants__lien_resto {
  display: inline-block;
  height: 230px;
  width: 90%;
  box-shadow: 0px 5px 10px #c5c4c4;
  padding: 0%;
  margin: 10px;
  border-radius: 20px;
}
.restaurants__lien_resto__resultat_contenant_pic {
  display: block;
  padding: 0%;
  margin: 0%;
  height: 150px;
}
.restaurants__lien_resto__titre_photo {
  display: flex;
  flex-direction: row;
  margin: 0%;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  background-color: white;
  position: static;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}

.photo {
  padding: 0%;
  margin: 0%;
  object-fit: cover;
  width: 100%;
  object-position: bottom;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.nom_restau {
  font-weight: bold;
}

.retour_accueil {
  display: flex;
  flex-direction: row;
}

.header_annexes {
  padding: 0%;
  margin: 0%;
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
}

.logo {
  font-family: "Shrikhand", cursive;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
}

.header_principal {
  padding: 0%;
  margin: 0%;
  width: 100%;
  box-shadow: 0px 5px 10px #c5c4c4;
  padding-top: 15px;
  position: relative;
  height: 70px;
}

main {
  padding: 0%;
  margin: 0%;
  width: 100%;
}

section {
  padding: 0%;
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #262626;
  color: white;
}
footer > .liens_divers {
  margin: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}
footer > h3 {
  display: block;
  line-height: 2;
  margin-top: 20px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.fas {
  margin: 10px;
}

h1 {
  width: 100%;
  justify-content: center;
  align-items: center;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.header_section {
  padding: 0%;
  margin: 0%;
  width: 100%;
}
.header_section_entete_resto {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 220px;
}
.header_section_entete_resto__photo {
  position: static;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}
.header_section_entete_nom_restau {
  background-color: whitesmoke;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0%;
  font-family: "Shrikhand", cursive;
  height: 80px;
  font-size: 2rem;
  border-radius: 60px 60px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: whitesmoke;
}
.menu__titre {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 3px;
}
.menu__titre__line {
  margin: 10px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-left: 20px;
  margin-top: 0%;
}
.menu__guide {
  display: flex;
  justify-content: baseline;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 5px 10px #c5c4c4;
  width: 90%;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  max-height: 70px;
  margin: 10px;
}
.menu__guide--text_style {
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.1rem;
  padding-bottom: 0%;
  word-break: break-word;
}

.btn {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  border-radius: 25px 25px 25px 25px;
  height: 50px;
  box-shadow: 0px 5px 10px #c5c4c4;
  text-align: center;
  width: 40%;
  margin: 50px;
}
.btn--cliquable {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  color: white;
  padding: auto;
}

/*# sourceMappingURL=style.css.map */
