.header_section{
    @include semantique_norme_basique;

    &_entete_resto{
        @include semantique_norme_basique;
        height: 220px;
        
        &__photo{
            position: static;
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: top;
        }
    }
    &_entete_nom_restau{
        
        background-color: darken(map-get($color-family,white), 4%);
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 0%;
        font-family: $font-family-logo;
        height: 80px;
        font-size: nth($text-sizes,2);
        border-radius: 60px 60px 0px 0px;
        @include direction-desktop;
        justify-content: space-between;
    }
}

.menu{
    @include sextion_style;
    background-color: darken(map-get($color-family,white), 4%);
    &__Titre{
            @include format_titre;

        }
    &__line{
       
        height: 5px;
        width: 10%;
        background-color: map-get($color-family, green);
        position: relative;
        left: -230px;
       
    }
    &__guide{
        display: flex; 
        justify-content: baseline;
        @include box_norme_flottant;
        width: 90%;
        background-color: white;
        
    }
}

