.header_section{
    @include semantique_norme_basique;

    &_entete_resto{
        @include semantique_norme_basique;
        height: 220px;
        
        &__photo{
            position: static;
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: top;
        }
    }
    &_entete_nom_restau{
        
        background-color: darken(map-get($color-family,white), 4%);
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 0%;
        font-family: $font-family-logo;
        height: 80px;
        font-size: nth($text-sizes,2);
        border-radius: 60px 60px 0px 0px;
        @include direction-desktop;
        justify-content: space-between;
    }
}

.menu{
    @include sextion_style;
    background-color: darken(map-get($color-family,white), 4%);
    &__titre{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 3px;

            &__line{
                    margin: 10px;
                    height: 3px;
                    width: 40px;
                    background-color: map-get($color-family, green);
                    margin-left: 20px;
                    margin-top: 0%;

        }
    
      
    }
    &__guide{
        display: flex; 
        justify-content: baseline;
        @include box_norme_flottant;
        width: 90%;
        background-color: white;
        flex-direction: row;
        justify-content: space-between;
        max-height: 70px;
        margin: 10px;
        &--text_style{
            font-weight: bold;
            line-height: 1.5;
            font-size: 1.1rem;
            padding-bottom: 0%;
            word-break: break-word;

        }
      
             
    }
}

.btn{
           
    background: linear-gradient(-5deg, map-get($color-family,violet), map-get($color-family,pink));
    border-radius: $arrondis;
    height: nth($btn-heigt,1);   
    box-shadow: $shadow;
    text-align: center;
    width: 40%;
    margin: 50px;
    

        &--cliquable{
            @include boite_cliquable;
            color: white;
            padding: auto;
        }

}

