
header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: map-get($color-family,white);

}
.logo{
    display: flex;
    font-family: $font-family-logo;
    margin: auto;
    
}