
//icon de retour à l'acceuil (flèche)
.retour_accueil{
    @include direction_horizontal;

  
}
//le logo
.header_annexes{
    @include box_remplissage_sans_espace;
    @include largeur_100;
    display: flex;
    justify-content: flex-start;
    background-color: $color_background_bleach;
    align-items: center;
    &__logo{
        margin: auto;
    }

}
