
.retour_accueil{
    @include direction-desktop;
  
}
.header_annexes{
     @include semantique_norme_basique;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: map-get($color-family,white);

}
.logo{
    font-family: $font-family-logo;
    margin: auto;
    
}