a{
    text-decoration: none;
    color: $text_color_dark;
   }
.fas{
    margin: nth($pixel_size,1);
}
h1{
    justify-content: center;
}
p{
    margin-left: nth($pixel_size,2);
    margin-right: nth($pixel_size,2);
}