*{
    box-sizing: border-box;
}
body
{
    
    @include largeur_100;
    @include hauteur_100;
    margin: 0%;
    background-color: $color_background_ligth;
    
  

}
.header_principal
{
    display: flex;
    @include box_remplissage_sans_espace;
    @include largeur_100;
    background-color: $color_background_bleach;
    box-shadow: $shadow;
    position: relative;
    align-items: center;
    justify-content: center;

}
.logo{
    font-family: $font-family-logo;
}
main
{
    @include box_remplissage_sans_espace;
    @include largeur_100;
    padding-bottom: nth($pixel_size,3)

}


section
{
    @include box_remplissage_sans_espace;
    @include largeur_100;
    @include direction_vertical;
    @include centrer;
    
}
footer{
    @include largeur_100;
    background-color: $color_background_dark;
    color: $text_color_light;
   padding: 20px ;

        >.logo__footer{
            
            color:white;
            font-family: $font-family-logo;
            @media (min-width: 900px){
                margin: 0;
                padding: 0;
              
            }
        }
    
        >.liens_divers{
            
            color: $text_color_light;
            font-family: $font-family-txt;
            line-height: 2;
            
            @media (min-width: 900px){
               
                padding: 17px;
            }
        }
        
        @media (min-width: 900px){
            display: flex;
            justify-content: center;
        }
}