.fonctionnement{
    @include direction_vertical;
    @include box_remplissage_sans_espace;
    @include largeur_100;
    @include centrer;
    font-family: $font-family-txt;
    background-color: $color_background_bleach;
        &__Titre{
            @include format_titre;
            margin-top: nth($pixel_size ,4);
        }
        &__guide{
           @include boite_format_rectangle_arrondis_leger;
           margin: 20px;
           height: nth($pixel_size ,7);
           background-color: $color_background_ligth;
           display: flex;
           align-items: center;
           text-align: center;
           
           
           
            &__number{
                display: inline-block;
                @include box_remplissage_sans_espace;
                @include txt-center;
                position: relative;
                left: -20px;
                background-color: map-get($color-family, first_color);
                border-radius: $cercle_petit;
                width: nth($pixel_size,2);
                color: $text_color_light;
                
                
            }

            
        }
}

