.restaurants{
    @include direction_vertical;
    @include box_remplissage_sans_espace;
    @include largeur_100;
    @include centrer;
    font-family: $font-family-txt;
    background-color: darken(white, 4%);
    padding-bottom: 50px;
       &__Titre{
           @include format_titre;
           position: static;
       }
       &__lien_resto{
           @include result;
           padding:0%;
           margin:10px;
           border-radius: 20px;
           
           &__resultat_contenant_pic{
               display: block;
               @include box_remplissage_sans_espace;
               height: 150px;
               
               
           }
           &__titre_photo{
               @include direction_horizontal;
               margin: 0%;
               padding-left: 10px;
               padding-right: 10px;
               height: 80px;
               background-color: white;
               position: static;
               justify-content: space-between;
               align-items:center;
               border-radius: 0px 0px 20px 20px;
               
               
           }
       }

}
.photo{
    @include box_remplissage_sans_espace;
    @include largeur_100;
    object-fit: cover;
    object-position: bottom;
    height: 150px;
    border-radius: $square_rounded;
}
.nom_restau{
    font-weight: bold;
}
