
.recherche
{
    @include direction_vertical;
    @include box_remplissage_sans_espace;
    @include largeur_100;
    @include centrer;
    font-family: $font-family-txt;
    background-color: darken(white, 4%);
    @include breackpoint_desktop;
    @media (min-width: 900px) {
        min-height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     }

    
    
        &__localisation
        {
            @include box_remplissage_sans_espace;
            @include txt-center;
            @include largeur_100;
            background-color: darken(white,9%);
            display: block;
            min-height: nth($pixel_size,5);
            @media (min-width: 900px) {
                background-color: $color_background_bleach;
                width: 300px;     
                border-radius: $arrondis_prononce;
                box-shadow: $shadow;
        
        }
            

        }
        &__description{
            display: block;
            margin: 0%;
           
            @include txt-center;
            word-break: break-word;
            font-size: nth($text-sizes,1);
            font-weight: lighter;
            
           
                &--bold{
                    display: block;
                    font-weight: bold;
                    font-size: nth($text-sizes,2);
                    margin-top: 40px;
                }
        }

}
#localisation_client{
    @include box_remplissage_sans_espace;
    border: none;
    background: transparent;
    font-size: nth($text-sizes,1);
    height: nth($pixel_size,5);
    width: nth($pixel_size,1)*15;
   
    
    &::placeholder 
    { 
      color: black;
      opacity: 1;   
      text-align: center;  
     }

}

.btn{
           
    background: $degrade;
    border-radius: $arrondis_prononce;
    height: nth($pixel_size,5);   
    box-shadow: $shadow;
    @include txt-center;
    width: 50%;
    margin-bottom: nth($pixel_size,6);
    margin-top: nth($pixel_size,6);
    border: none ;
    opacity: 1;
    transition: all 300ms;
    
    &:hover{
        opacity: 0.9;
        box-shadow:0px 5px 10px rgb(168, 168, 168);
    }
    @media (min-width: 900px) {
        width: 300px;
        
     

}
    
        &--cliquable{
            @include box_remplissage_sans_espace;
            @include hauteur_100;
            @include largeur_100;
            color: $text_color_light;
            display: flex;
            justify-content: center;
            @include centrer;
            font-size: nth($text-sizes,1);
            
        }

}
