.fonctionnement{
    @include direction_vertical;
    @include box_remplissage_sans_espace;
    @include largeur_100;
    @include centrer;
    font-family: $font-family-txt;
    background-color: white;
        &__Titre{
            @include format_titre;

        }
        &__guide{
           @include boite_format_rectangle_arrondis_léger;
           background-color: darken(map-get($color-family,white), 2%);
            &__number{
                display: inline-block;
                @include box_remplissage_sans_espace;
                @include txt-center;
                position: relative;
                left: -40px;
                background-color: map-get($color-family, violet);
                border-radius: 10px;
                width: 20px;
                color: white;
                
            }
        }
}