
.recherche
{
    @include direction_vertical;
    @include box_remplissage_sans_espace;
    @include largeur_100;
    @include centrer;
    font-family: $font-family-txt;
    background-color: darken(white, 4%);
    
        &__localisation
        {
            @include box_remplissage_sans_espace;
            @include txt-center;
            @include largeur_100;
            background-color: darken(white,9%);
            display: block;
            min-height: nth($pixel_size,5);

        }
        &__description{
            display: block;
            margin: 0%;
            padding-top: nth($pixel_size,3);
            padding-left: nth($pixel_size,3);
            padding-right: nth($pixel_size,3); 
            
            @include txt-center;
            word-break: break-word;
            font-size: nth($text-sizes,1);
            font-weight: lighter;
            
           
                &--bold{
                    display: block;
                    font-weight: bold;
                    font-size: nth($text-sizes,2);
                }
        }

}
.btn{
           
    background: linear-gradient(-5deg, map-get($color-family,first_color), map-get($color-family,second_color));
    border-radius: $arrondis_prononce;
    height: nth($pixel_size,5);   
    box-shadow: $shadow;
    @include txt-center;
    width: 50%;
    margin-bottom: nth($pixel_size,6);
    margin-top: nth($pixel_size,6);

        &--cliquable{
            @include box_remplissage_sans_espace;
            @include hauteur_100;
            @include largeur_100;
            color: $text_color_light;
            display: flex;
            justify-content: center;
            @include centrer;
            
        }

}
