//les coeurs
.heart_checked{
    color:  #9356DC;
  
    position: absolute;
   top: 0px;
   left: 0px; 

    z-index: 1;
   height: 100%;
   width: 100%;
   margin-right: 20px;
   padding: 0%;


   transform:  scale(0);
   transition: transform 400ms;
   animation-fill-mode: forwards;

}

.heart_not_checked{
    color: black;
    position: relative;
    z-index: 2;
    padding: 0%;
    margin-right: 20px;
    
    transform: scale(1.5,2);
    
     &:hover{

      > .heart_checked{
          transform: scale(1.04);
         }
    }
 

}
//les apparitions de boites
@keyframes appearance {
    0% {
        transform: translate(0%, 100%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@for $i from 1 to 5 {
    .appear#{$i} {
        animation: appearance 1000ms both;
        animation-delay: 200ms*$i;
        
        
    }

}


@keyframes flash {
    0%{
        background-color: $color_background_ligth;
    }
    50%{
        background-color: lighten(map-get($color-family, first_color), 32%);
    }
  
    100%{
        background-color: $color_background_ligth;
    }

}

@for $c from 1 to 4 {
    .clignotant#{$c} {
        animation: flash 2000ms backwards;
        animation-delay: 2000ms*$c;
        animation-iteration-count: 1;
        
    }
    
}