//liste des différents élément générique ou non réutilisables pour la maintenabilité

//variables
$font-family-logo: 'Shrikhand', cursive;
$font-family-txt: 'Roboto', sans-serif;
$shadow: 0px 5px 10px rgb(197, 196, 196);
$arrondis_prononce:25px;
$arrondis_lege:20px;
$arrondis_superieur_nom_resto:60px 60px 0px 0px;
$arrondis_seperieur:20px 20px 0px 0px;
$arrondis_inferieur:0px 0px 20px 20px;
$cercle_petit:10px;
$color_background_dark: darken(white, 85%);
$color_background_ligth: darken(white, 4%);
$color_background_bleach: white;
$text_color_dark: black;
$text_color_light: white;
$degrade: linear-gradient(-5deg, #9356DC, #FF79DA);



//listes
$text-sizes: 1rem, 2rem, 3rem;
$pixel_size: 10px, 20px, 30px, 40px, 50px, 60px, 70px, 80px, 90px;

//maps
$color-family: (first_color:#9356DC, second_color:#FF79DA, third_color:#99E2D0, fourth_color:#fff);

//$arrondis: ( ,  , );

//mixins
@mixin box_remplissage_sans_espace {
    padding: 0%;
    margin: 0%;
}

@mixin largeur_100 {
    width: 100%;
}
@mixin hauteur_100 {
    height: 100%;
}

@mixin direction_horizontal {
    display: flex;
    flex-direction: row;
}

@mixin direction_vertical{
    display: flex;
    flex-direction: column; 
}
@mixin centrer {
    align-items: center;  
}

@mixin boite_format_rectangle_arrondis_leger {
    
    border-radius: $arrondis_lege;
    box-shadow: $shadow;
    width: 85%;
}

@mixin txt-center {
    text-align: center;
    ;
    
}
@mixin format_titre{
    margin: 0%;
    width: 100%;

    text-indent: nth($pixel_size,3);
    font-size: nth($text-sizes,2);
}
@mixin result {
    display: inline-block;
    height: 230px;
    width: 90%;
    box-shadow: $shadow;
    
}
@mixin breackpoint_desktop {
    @media (min-width: 900px) {
        @include direction_horizontal;
}
}

@mixin breackpoint_element_adapt {
    @media (min-width: 900px) {
       min-width: 20%;
        max-width: 30%;
       height: 160px;
}
}
@mixin breackpoint_contenu_column {
    @media (min-width: 900px) {
        @include direction_vertical;
        text-align: center;
}
}

